<div class="box-product-sale_item">
  <div class="box-product-sale__image" style="background-image: url({{item.service_product_image}});">
    <img src="{{item.service_product_image}}">
  </div>
  <h2 class="box-product-sale__title"><a href="{{item.link}}">{{item.name}}</a></h2>
  <div class="box-product-sale__content">
    <div class="box-product-sale__from">
      {% if item.service_product_about_sale %}
      <div class="text">from</div>
      <div class="number"><sup>$</sup>{{item.service_product_about_sale}}</div>
      {% else %}
      <div class="no-price">Coming soon</div>
      {% endif %}
    </div>
  </div>
</div>
{% if item.children %}
  {% for child in item.children %}
    <div class="box-product-sale_item">
      <div class="box-product-sale__image" style="background-image: url({{item.service_product_image}});">
        <img src="{{child.service_product_image}}">
      </div>
      <h2 class="box-product-sale__title"><a href="{{child.link}}">{{child.name}}</a></h2>
      <div class="box-product-sale__content">
        <div class="box-product-sale__from">
          {% if child.service_product_about_sale %}
          <div class="text">from</div>
          <div class="number"><sup>$</sup>{{child.service_product_about_sale}}</div>
          {% else %}
          <div class="no-price">Coming soon</div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
