<div class="box-product-sale">
  <div class="box-product-sale__list {% if template_class %}{{template_class}}{% endif %}">
    {% for item in categories %}
      <div class="box-product-sale_item">
        <div class="box-product-sale__image" style="background-image: url({{item.service_product_image}});">
          <img src="{{item.service_product_image}}">
        </div>

        {% if item.description or item.name %}
        <div class="box-product-sale__content">
          <h2 class="box-product-sale__title"><a href="{{ item.link }}">{{item.name}}</a></h2>
          <div class="box-product-sale__desc">{{item.description}}</div>
        </div>
        {% endif %}
      </div>
      {% if item.children %}
        {% for child in item.children %}
          <div class="box-product-sale_item">
            <div class="box-product-sale__image" style="background-image: url({{item.service_product_image}});">
              <img src="{{child.service_product_image}}">
            </div>
            {% if child.description %}
            <div class="box-product-sale__content">
              <h2 class="box-product-sale__title"><a href="{{child.link}}">{{child.name}}</a></h2>
              <div class="box-product-sale__desc">{{item.description}}</div>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
