<div class="box-gb">
  <div class="box-feature__iamge">
  </div>
</div>

{% if (user_email == 'null') or (user_email is empty) %}
  <div class="box-form-login">
    <h2 class="box-form-login__title form-title">register now</h2>
    <div class="link-login">
      <span>or</span> <a href="{{ function('home_url') }}/appointment-scheduling-signin">Log in here</a>
    </div>

    <form id="from_signup" name="from_signup" action="" method="post">
      <div class="from-item">
        <input type="text" value="" size="30" name="signup_first_name" class="form-text input" placeholder="First Name">
        {% if signup_first_name %}
          <div class="message">{{ signup_first_name }}</div>
        {% endif %}
      </div>
      <div class="from-item">
        <input type="text" value="" size="30" name="signup_last_name" class="form-text input" placeholder="Last Name">
        {% if signup_last_name %}
          <div class="message">{{ signup_last_name }}</div>
        {% endif %}
      </div>
      <div class="from-item">
        <input type="email" value="" size="30" name="signup_email" class="form-text input" placeholder="Your Email">
        {% if signup_email %}
          <div class="message">{{ signup_email }}</div>
        {% endif %}
      </div>
      <div class="from-item">
        <input type="password" value="" size="30" name="signup_password" class="form-text input" placeholder="Password">
        {% if signup_password %}
          <div class="message">{{ signup_password }}</div>
        {% endif %}
      </div>
      <div class="from-item">
        <input type="password" value="" size="30" name="signup_re_password" class="form-text input" placeholder="Please re-enter password">
        {% if signup_re_password %}
          <div class="message">{{ signup_re_password }}</div>
        {% endif %}
      </div>

      <div class="form-submit">
        <input type="submit" name="action" value="Sign me up" class="button botton button-primary button-large">
      </div>
    </form>
    {% if message_signup %}
      <div class="message">{{ message_signup }}</div>
    {% endif %}
  </div>
{% else %}
  <div class="box-form-login">
    <div class="welcome">Welcome {{ user_email }} !</div>
  </div>
{% endif %}
