{% extends 'layout.twig' %}

{% block page_title %}
  {% if post.title and (title_option != "on") %}
    <div id="page-title" class="page-title" {% if post.get_field('image_banner') %}style="background-image: url({{ post.get_field('image_banner').url }});"{% endif %}>
      <div class="container">
        <h1>{{ post.title }}</h1>
        <div class="sub-title">{{post.get_field('sub_title')}}</div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="main-page-content">
    {% for post in posts %}
      {% if not function('is_page') %}
        <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
      {% endif %}
      {{ post.content }}
      {{ flexible_content('components_block') }}
    {% endfor %}
  </div>

  {% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %}
{% endblock %}
