<div class="box-component {% if component_class %}{{ component_class }}{% endif %}">
  <div class="box-product-sale">
    <div class="box-product-sale__list">
      {% for item in box_product_select %}
        {% set term = TimberTerm(item.term_id) %}
        <div class="box-product-sale_item">
          <div class="box-product-sale__image" style="background-image: url({{term.service_product_image}});">
            <img src="{{term.service_product_image}}">
          </div>
          {% if box_product_template == 'glossmenu' %}
            {% if term.description or term.name %}
            <div class="box-product-sale__content">
              <h2 class="box-product-sale__title"><a href="{{ term.link }}">{{term.name}}</a></h2>
              <div class="box-product-sale__desc">{{term.description}}</div>
            </div>
            <a class="link-hidden" href="{{ term.link }}">{{term.name}}</a>
            {% endif %}
          {% else %}
              <h2 class="box-product-sale__title"><a href="{{term.link}}">{{term.name}}</a></h2>
              <div class="box-product-sale__content">
                <div class="box-product-sale__from">
                  {% if term.service_product_about_sale %}
                  <div class="text">from</div>
                  <div class="number"><sup>$</sup>{{term.service_product_about_sale}}</div>
                  {% else %}
                  <div class="no-price">Coming soon</div>
                  {% endif %}
                </div>
              </div>
              <a class="link-hidden" href="{{ term.link }}">{{term.name}}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
