{% if function('is_front_page') %}
<div id="site-message" class="{{ component_class }}">{{ block_site_message }}<span class="icon-close">close</span></div>
<div style="display: none;">
  <div id="site-popup" class="site-popup">
    <div class="site-popup-submited" style="display: none;">{{ site_popup_submited }}</div>
    <div class="site-popup-text">{{ block_site_popup_text }}</div>
    {{ shortcode('[cs_subscriber]') }}
  </div>
</div>
{% endif %}
