<form id="book_now" class="form-schedule-feature" name="book_now" method="post" action="">
  <div class="form-item">
    {% include "area.twig" %}
    {% if area_message %}
      <div class="message">{{ area_message }}</div>
    {% endif %}
  </div>

  <div class="form-item">
    <select name="client_service" class="select-two client-service">
      <option selected="" disabled="" value="">Choose a service</option>
      {% for category in cat_app %}
        {% set cat_id = category.id %}
        <optgroup label="{{ category.name }}">
          {% for post in post_app %}
            {% set postcat_id = post.terms('service_product').0.id %}
            {% if postcat_id == cat_id %}
            <option data-id="{{ post._cmb2_asc_app_id }}" value="{{ post.id }}">{{ post.title }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    {% if service_message %}
      <div class="message">{{ service_message }}</div>
    {% endif %}
  </div>

  <div class="form-item">
    <input type="text" name="client_date" placeholder="Pick a date" class="client-date">
    {% if date_message %}
      <div class="message">{{ date_message }}</div>
    {% endif %}
  </div>

  <div class="form-item">
    {#<select name="client_time" class="select-two">
      <option selected="" disabled="" value="">Choose Times</option>
      {% for hour in 7..20 %}
        {% for time in ['00', '15', '30', '45'] %}
          <option>{{ hour }}:{{ time }}</option>
        {% endfor %}
      {% endfor %}
    </select>#}
    <div class="datetime-chose">
      <select name="client_time" class="select-two client-time">
        <option selected="" disabled="" value="">Find A Time</option>
      </select>
    </div>
    {% if time_message %}
      <div class="message">{{ time_message }}</div>
    {% endif %}
  </div>

  <div class="box-from-contact__button">
    <input type="submit" name="action" value="Book Now" class="wpcf7-form-control wpcf7-submit button">
  </div>
</form>
